<?xml version="1.0" encoding="utf-8"?>

<config addfieldprefix="Joomla\Component\Ra_eventbooking\Administrator\Field">
    <fieldset label="COM_RA_EVENTBOOKING" name="ra_eventbooking" description="Basic configuration options"        >
    
        <field name="total_places" 
               first="0" last="200" step="1" 
               type="integer"
               label="Total number of Places" 
               description="Total or maximum number of places or zero if unlimited places" 
        />  
        <field 
            name="booking_contact_id" 
            type="user" 
            label="COM_RA_EVENTBOOKING_FORM_LBL_GROUP_CONTACT" 
            description="COM_RA_EVENTBOOKING_FORM_DESC_GROUP_CONTACT" 
        />
           
            
        <field name="maxattendees" 
               first="1" last="10" step="1" 
               type="integer" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_MAXATTENDEES" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_MAXATTENDEES" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_MAXATTENDEES"
        />
        <field name="attendeetype" 
               type="list" 
               filter="raw"
               label="Who can attend?" 
               description="Is event open to the public or just members" 
        >
            <option value="memonly">Members Only</option>
            <option value="public">Non members welcome</option>
        </field>
        <field name="waitinglist" 
               type="list" 
               filter="raw"
               label="COM_RA_EVENTBOOKING_FORM_LBL_WAITINGLIST" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_WAITINGLIST" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_WAITINGLIST"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="userlistvisibletousers" 
               type="list" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_USERLISTVISIBLETOUSERS" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_USERLISTVISIBLETOUSERS" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_USERLISTVISIBLETOUSERS"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="closingdate" 
               type="list"        
               label="COM_RA_EVENTBOOKING_FORM_LBL_USERLISTCLOSING"
               description="COM_RA_EVENTBOOKING_FORM_DESC_USERLISTCLOSING">
            <option value="6pm">6pm on the day before event</option>
            <option value="24">24 hours prior to start</option>
            <option value="start">When event starts</option>
        </field>
    </fieldset>
    <fieldset label="Payments" name="ra_payments" description="Payments">
        <field name="payment_required" 
               type="list" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_EVENTSETTING_PAYMENT_REQUIRED" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_EVENTSETTING_PAYMENT_REQUIRED" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_EVENTSETTING_PAYMENT_REQUIRED"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="payment_details" 
               showon="payment_required:1"
               cols="50" 
               rows="4" 
               filter="safehtml" 
               type="editor" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_EVENTSETTING_PAYMENT_DETAILS" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_EVENTSETTING_PAYMENT_DETAILS" 
               hint="Description of what payment is required."
        />
    </fieldset>
    <fieldset label="Guest Access" name="ra_eventbooking2" description="Non logged user access to booking">
        <field name="guest" 
               type="list" 
               filter="raw"
               default="1" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_GUEST" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_GUEST" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_GUEST"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="telephone_required" 
               type="list" 
               filter="raw"
               default="1" 
               showon="guest:1"
               label="Guest telephone number" 
               description="Should input of telephone number be required for guest users" 
               hint="Should input of telephone number be required for guest users"
        >
            <option value="0">Optional</option>
            <option value="1">Mandatory</option>
        </field>
        <field name="maxguestattendees" 
               first="1" last="10" step="1" 
               type="integer" 
               showon="guest:1"
               label="COM_RA_EVENTBOOKING_FORM_LBL_MAXGUESTATTENDEES" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_MAXGUESTATTENDEES" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_MAXGUESTATTENDEES"/>
        <field 
            name="userlistvisibletoguests" 
            type="radio"
            showon="guest:1" 
            layout="joomla.form.field.radio.switcher"
            label="COM_RA_EVENTBOOKING_FORM_LBL_USERLISTVISIBLETOGUESTS" 
            description="COM_RA_EVENTBOOKING_FORM_DESC_USERLISTVISIBLETOGUESTS" 
            hint="COM_RA_EVENTBOOKING_FORM_LBL_USERLISTVISIBLETOGUESTS"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    
    </fieldset>
    <fieldset name="communications" description="Communication options" label="Communications">
        <field name="email_format" 
               type="text" 
               label="COM_RA_EVENTBOOKING_FORM_LBL_GROUP_EMAIL_FORMAT" 
               description="COM_RA_EVENTBOOKING_FORM_DESC_GROUP_EMAIL_FORMAT" 
               hint="COM_RA_EVENTBOOKING_FORM_LBL_GROUP_EMAIL_FORMAT"
        />
        <field name="signature" 
               cols="50" 
               rows="4" 
               filter="safehtml" 
               type="editor" 
               label="Optional Email Signature" 
               description="Optional signature to use in place of default group name" 
               hint="Signature to use in place of default group name"
        />
    </fieldset>
    
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" 
               type="rules" 
               component="com_ra_eventbooking" 
               class="inputbox" 
               filter="rules" validate="rules" 
               label="JCONFIG_PERMISSIONS_LABEL" section="component" 
        />
    </fieldset>
      
    <fieldset name="component">
        <field
            name="save_history"
            type="radio"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
            layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
        <field
            name="sef_ids"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            default="0"
            label="JGLOBAL_SEF_NOIDS_LABEL"
            description="JGLOBAL_SEF_NOIDS_DESC"
            filter="integer"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
        
       


  
</config>
<!--
########################################################################################
The following are a list of all the different types of fields you can add to this file
They are here for copy pasting - neat eh?
########################################################################################

https://docs.joomla.org/Standard_form_field_types
<field name="mycalendar" type="calendar" default="5-10-2008" label="Select a date" description="" format="%d-%m-%Y" />

https://docs.joomla.org/Standard_form_field_types
<field name="mycategory" type="category" label="Select a category" description="" section="3" />

https://docs.joomla.org/Standard_form_field_types
<field name="myeditor" type="editors" default="none" label="Select an editor" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfile" type="filelist" default="" label="Select a file" description="" directory="administrator" filter="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfolder" type="folderlist" default="" label="Select a folder" directory="administrator" filter="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myhelpsite" type="helpsites" default="" label="Select a help site" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mysecretvariable" type="hidden" default="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myimage" type="imagelist" default="" label="Select an image" description="" directory="" exclude="" stripext="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mylanguage" type="languages" client="site" default="en-GB" label="Select a language" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="mylistvalue" type="list" default="" label="Select an option" description="">
  <option value="0">Option 1</option>
  <option value="1">Option 2</option>
</field>

https://docs.joomla.org/Standard_form_field_types
<field name="mymenu" type="menu" default="mainmenu" label="Select a menu" description="Select a menu" />

https://docs.joomla.org/Standard_form_field_types
<field name="mymenuitem" type="menuitem" default="45" label="Select a menu item" description="Select a menu item" />

https://docs.joomla.org/Standard_form_field_types
<field name="mypassword" type="password" default="secret" label="Enter a password" description="" size="5" />

https://docs.joomla.org/Standard_form_field_types
<field name="myradiovalue" type="radio" default="0" label="Select an option" description="">
  <option value="0">1</option>
  <option value="1">2</option>
</field>

https://docs.joomla.org/Standard_form_field_types
<field type="spacer" default="&lt;b&gt;Advanced parameters&lt;/b&gt;" />

https://docs.joomla.org/Standard_form_field_types
<field name="myfield" type="sql" default="10" label="Select an article" query="SELECT id, title FROM #__content" key_field=”id” value_field=”title” />

https://docs.joomla.org/Standard_form_field_types
<field name="mytextvalue" type="text" default="Some text" label="Enter some text" description="" size="10" />

https://docs.joomla.org/Standard_form_field_types
<field name="mytextarea" type="textarea" default="default" label="Enter some text" description="" rows="10" cols="5" />

https://docs.joomla.org/Standard_form_field_types
<field name="mytimezone" type="timezones" default="-10" label="Select a timezone" description="" />

https://docs.joomla.org/Standard_form_field_types
<field name="myusergroups" type="usergroup" default="" label="Select a user group" description="" />


-->
