<html>
    <head>
        <title>Booking for event {eventid}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>     
        <p><b>This is a query about this event from {replyToName}</b></p>
        <p></p>  
        <p><b>Dear {toName}</b></p>
        <p></p>     
        <p>{emailContent}</p> 
        <p><b>Regards<br>{replyToName}</b></p>
        <br><hr>
        <h3>Details of this event</h3>
        <p><b>Group:</b> {groupName}</p>
        <p><b>Date:</b> {eventDate}</p>
        <p><b>Title:</b> {eventTitle}</p>
        <p><b>Description:</b> {eventDescription}</p>
        <p>You can view the details of the event at {viewButton}</p>

        <hr/>
        <p><small>This email is an automated one sent from the web site: {siteName} on behalf of {replyToName}<br>
                You are being sent this email as you are on the Booking Contact for this event.</small></p>

    </body>
</html>
