<html>
    <head>
        <title>Booking for event {eventid}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>As requested, we have removed your booking for the following {eventType}</h2>
        <p>Dear {toName}</p>
        <p>Your booking for this event have been removed</p>
        <p></p>   
        <h3>Group: {groupName}</h3>
        <h3>Date: {eventDate}</h3>
        <h3>Title: {eventTitle}</h3>
        <p>Description: {eventDescription}</p>
        <p>You can view the details of the event at {viewButton}</p>
        <p>{signature}</p>
        <hr/>
        <p><small>This email is an automated one sent from the web site: {siteName} on behalf of {groupName}</small></p>
        <p><small>You are being sent this email as you have either booked places or you are on the waiting list for one of our events.</small></p>

    </body>
</html>
