<html>
    <head>
        <title>Verify code</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><b>Dear {toName}</b></p>
        <p>Please use the following code to verify your email address</p>
        <p></p>   
        <p></p>   
        <h2>Code: <b>{verifyCode}</b></h2>
        <p></p>
        <p></p>
        <p>{signature}</p>
        <hr/>
        <p><small>This email is an automated one sent from the web site: {siteName} on behalf of {groupName}<br>
                You are being sent this email so you can verify your email address.</small></p>

    </body>
</html>
